<ion-header>
  <ion-toolbar>
    <ion-title>
      daChecklist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
    <ion-grid>
   
      <ion-row align-items-center>
        <ion-col size="8">
          <ion-item>
            <ion-input class="new-todo" placeholder="What needs to be done? " autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
            </ion-input>
          </ion-item>
        </ion-col>
   
        <ion-col size="4">
          <ion-item>
            <ion-select [(ngModel)]="selectedQuadrant">
              <ion-select-option value="MIT">MIT</ion-select-option>
              <ion-select-option value="Today">Today</ion-select-option>
              <ion-select-option value="Later">Later</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
   
      </ion-row>
   
      <ion-row no-padding class="matrix">
        <ion-col size="12" class="mit">
          <div class="q-header">MIT</div>
          <ion-list dragula="bag" [(dragulaModel)]="aMit" lines="none">
            <ion-item *ngFor="let todo of aMit" expand="block" text-wrap>
              <div class="view" *ngIf="todo">
                <input class="toggle" type="checkbox" (change)="toggle(todo, timescale.MIT)" [checked]="todo.completed">
                <label>{{todo.title}}</label>
                <button class="destroy"></button>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
   
        <ion-col size="12" class="today">
          <div class="q-header">Today</div>
          <ion-list dragula="bag" [(dragulaModel)]="aToday" lines="none">
            <ion-item *ngFor="let todo of aToday" expand="block" text-wrap>
              <div class="view" *ngIf="todo">
                <input class="toggle" type="checkbox" (change)="toggle(todo, timescale.Today)" [checked]="todo.completed">
                <label>{{todo.title}}</label>
                <button class="destroy"></button>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
   
        <ion-col size="12" class="later">
          <div class="q-header">Later</div>
          <ion-list dragula="bag" [(dragulaModel)]="aLater" lines="none">
            <ion-item *ngFor="let todo of aLater" expand="block" text-wrap>
              <div class="view" *ngIf="todo">
                <input class="toggle" type="checkbox" (change)="toggle(todo, timescale.Later)" [checked]="todo.completed">
                <label>{{todo.title}}</label>
                <button class="destroy"></button>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
  
      </ion-row>
    </ion-grid>
   
    <ion-row class="delete-area" align-items-center justify-content-center>
      <ion-icon name="trash" color="medium"></ion-icon>
    </ion-row>
   
  </ion-content>
  