<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
            <ion-input item-start formControlName="username" type="email" [(ngModel)]="user.username" placeholder="Enter your username here"></ion-input>
            <ion-button item-end type="submit" [disabled]="!loginForm.valid" (keyup.enter)="login()">
                <ion-icon slot="icon-only" name="log-in"></ion-icon>
            </ion-button>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
                <div class="error-message" *ngIf="f.username.hasError(validation.type) && (f.username.dirty || f.username.touched)">
                {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </form>
</ion-content>