<ion-content padding>
    <form [formGroup]="loginForm">
        
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input 
                formControlName="username" type="email" 
                placeholder="Enter your username here"
                [class.invalid]="!f.username.valid && f.username.touched"
            ></ion-input>
        </ion-item>
        <ion-item class="error-message"
            *ngIf="!f.username.valid && f.username.touched"
        >
            <ion-label>
                Please enter a valid email address.
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input 
                formControlName="password" type="password" 
                placeholder="Enter your password here"
                [class.invalid]="!f.password.valid && f.password.touched"
                (keyup.enter)="loginUser(loginForm)"
            ></ion-input>
        </ion-item>
        <ion-item class="error-message" 
            *ngIf="!f.password.valid && f.password.touched"
        >
            <ion-label>
                Your password needs more than 6 characters.
            </ion-label>
        </ion-item>

        <ion-button (click)="loginUser(loginForm)" expand="block" [disabled]="!loginForm.valid">
            Log In
        </ion-button>
    </form>

    <ion-button expand="block" fill="clear" routerLink="/signup">
        Create a new account
    </ion-button>

    <ion-button expand="block" fill="clear" routerLink="/reset-password">
        I forgot my password 🙁
    </ion-button>

</ion-content>