<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Reset password</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <form [formGroup]="resetPwdForm">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          formControlName="username" type="email"
          placeholder="Your email address"
          [class.invalid]="!f.username.valid && f.username.touched"
          (keyup.enter)="resetPassword(resetPwdForm)"
        >
        </ion-input>
      </ion-item>
      <ion-item
        class="error-message"
        *ngIf="!f.username.valid && f.username.touched"
      >
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>
  
      <ion-button
        expand="block"
        (click)="resetPassword(resetPwdForm)"
        [disabled]="!resetPwdForm.valid"
      >
        Reset your Password
      </ion-button>
    </form>
  </ion-content>
